@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

* {
  box-sizing: border-box;
}

body {
  background: #0a0a0a;
  color: #ededed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for clean look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
